	<div id="page-container">
        <!-- begin login -->
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> <span> Sign Up New DRIVER</span>
                    <!--<small>responsive bootstrap 3 admin template</small>-->
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end brand -->
            
            <div class="login-content">
                <div id="success_div" class="alert alert-success fade in m-b-15" ng-show="ischeckSingup==1">
                    <strong>Sign up sccessfully!</strong>
                    <span id="success_msg"></span>
                    <span class="close" data-dismiss="alert">x</span>
                </div>
                <div id="error_div" class="alert alert-danger fade in m-b-15" ng-show="ischeckSingup==0">
                    <strong>Already success!</strong>
                    <span id="error_msg"></span>
                    <span class="close" data-dismiss="alert">x</span>
                </div>
                <form method="POST" name="singupForm" class="margin-bottom-0"  data-validate="parsley">

                       <div class="form-group m-b-20">
                    <!-- angular js validation start here -->
                     <input type="text" class="form-control parsley-validated" placeholder="First Name" name="first_name" ng-model="first_name" required>
                     <span style="color:red" ng-show="singupForm.first_name.$dirty && singupForm.first_name.$invalid">
                     <span ng-show="singupForm.first_name.$error.required">First is required.</span>
                     </span>
                    </div>
          

          
                    <div class="form-group m-b-20">
                    <!-- angular js validation start here -->
                     <input type="text" class="form-control parsley-validated" placeholder="Last Name" name="last_name" ng-model="last_name" required>
                     <span style="color:red" ng-show="singupForm.last_name.$dirty && singupForm.last_name.$invalid">
                     <span ng-show="singupForm.last_name.$error.required">Last is required.</span>
                     </span>
                    </div>

                   <!--  <div class="form-group m-b-20">
                         <input class="form-control parsley-validated" type="text" id="last_name" name="lname" data-trigger="change" data-required="true" placeholder="Last Name">
                    </div> -->


                      <div class="form-group m-b-20">
                    <!-- angular js validation start here -->
                     <input type="text" class="form-control parsley-validated" placeholder="Email" name="email" ng-model="email" required>
                     <span style="color:red" ng-show="singupForm.email.$dirty && singupForm.email.$invalid">
                     <span ng-show="singupForm.email.$error.required">Email is required.</span>
                     </span>
                    </div>
                 

                    <div class="form-group m-b-20">
                    <!-- angular js validation start here -->
                     <input type="password" class="form-control parsley-validated" placeholder="Password Name" name="password" ng-model="password" required>
                     <span style="color:red" ng-show="singupForm.password.$dirty && singupForm.password.$invalid">
                     <span ng-show="singupForm.password.$error.required">Password is required.</span>
                     </span>
                    </div>
                 


                    <!-- 
                    <div class="form-group m-b-20">
                        <input class="form-control parsley-validated" type="password" id="password" name="password" data-trigger="change" data-minlength="6" data-maxlength="15" maxlength="15" data-required="true" placeholder="Password">
                    </div> -->




                    <div class="form-group m-b-20">
                    <!-- angular js validation start here -->
                     <input type="text" class="form-control parsley-validated" placeholder="contact Number" name="contact" ng-model="contact" required>
                     <span style="color:red" ng-show="singupForm.contact.$dirty && singupForm.contact.$invalid">
                     <span ng-show="singupForm.contact.$error.required">Contact Number is required.</span>
                     </span>
                    </div>


                   
                    <div class="login-buttons">
                        <input type="submit" class="btn btn-success btn-block btn-lg"    ng-disabled="singupForm.first_name.$invalid|| singupForm.last_name.$invalid||singupForm.email.$invalid||singupForm.contact.$invalid" ng-click="singup(first_name,last_name,email,password,contact)" />


                       
                    </div>
                </form>
            </div>
        </div>
        <!-- end login -->
    </div>

